<?xml version="1.0" ?>
<setup>
    <port>9</port>
	<pwd1>11111111</pwd1>
	<pwd2>22222222</pwd2>
	<pwd3>00000000</pwd3>
	<pwde>33333333</pwde>
  <swver>30</swver>
  <!--<hwver>128</hwver>-->
  <hwver>02</hwver>
  <blver>16</blver>
  <dev>USPD UM-RTUMP</dev>
  <!--<dev>UM-40RTU.2</dev>-->
  <dev_type>1</dev_type> <!--0 - UM-31RTU, 1 - UM-40RTU-->
  <modem_name>Cinterion</modem_name>
  <!--<modem_model>BGS2-E REVISION 02.000</modem_model>-->
  <modem_model>BGS2-E REVISION 01.301 </modem_model>
  <!--<ifaces>0;1</ifaces>-->
  <ifaces>0;1;3;4</ifaces>
  <di_inputs>0;1;2;3;4;5;6</di_inputs>
  <pls>1;2</pls>
  <df1>64Mbit</df1>
  <df2>64Mbit</df2>
  <FRAM>1024kbit</FRAM>
  <imei>356495048980629</imei>
  <real_time>1</real_time>
  <UMTS>1</UMTS>
  <SCID>8970199141011779666</SCID>
  <OPS>Beeline</OPS>
  <HW_INFO>1;B9;2;3;23;3;5;40;1</HW_INFO>
</setup>